.ordersTable {
    border-collapse: collapse;
    border-spacing: 0;
}

.ordersTable td {
    font-family: David, sans-serif;
    font-size: 1em;
    padding: 1em 0.5em;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
    text-anchor: middle;
}

.ordersTable th {
    font-family: David, sans-serif;
    font-size: 1em;
    font-weight: normal;
    padding: 1em 0.5em;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
    text-anchor: middle;
}

.ordersTable .tableHeader {
    font-weight: bold;
    background-color: #c0c0c0;
    border-color: #000000;
    text-align: center;
    vertical-align: middle
}


.ordersTable .tableRows {
    border-color: inherit;
    text-align: center;
    vertical-align: middle;
}

#deleteSelectedOrders, #sendOrderBtn, #orderTable, #orderSummaryTable {
    display: inline-block;
}

#selectDepartment, #sendOrderBtn, #chooseProductName, #enterBarcode, #deleteSelectedOrders, #enterAmount, #addProductBtn {
    text-align: center;
    vertical-align: center;
    font-family: David, sans-serif;
}

#chooseProductName {
    min-width: 10em;
}


#overallOrderSummeryCost, #overallOrderCost {
    width: 10em;
    text-align: center;
}