<!DOCTYPE html>
<!--suppress XmlHighlighting -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" href="css/orders.css">
</head>
<body style="font-family:'David',sans-serif">
<div style="text-align: center;">
    <H1><span th:text="${username}+' ברוך הבא '"></span></H1>
    <H2>אנא הוסף את המוצרים הרצויים להזמנה</H2>
    <table class="tg" id="orderTable">
        <thead>
        <tr>
            <th class="tg-cscf">מחלקה</th>
            <th class="tg-cscf">קוד מוצר</th>
            <th class="tg-cscf">שם מוצר</th>
            <th class="tg-cscf">מחיר ליחידה/100 גרם</th>
            <th class="tg-cscf">כמות להזמנה</th>
            <th class="tg-cscf">סה"כ מחיר</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="tg-0pky">
                <label for="selectDepartment"></label><select id="selectDepartment" onchange="departmentSelected()">
                <option>בחר מחלקה...</option>
            </select>
            </td>
            <td class="tg-0pky"><label for="enterBarcode"></label><input type="text" id="enterBarcode"
                                                                         onchange="getProductFromBarcode()"></td>
            <td class="tg-0pky"><label for="chooseProductName"></label><select id="chooseProductName"
                                                                               onchange="getProductFromName()"></select>
            </td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"><label for="enterAmount"></label><input type="number" id="enterAmount"
                                                                        onchange="amountChosen()"></td>
            <td class="tg-0pky"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <button id="addProductBtn" onclick="addProduct()">הוסף להזמנה</button>
    <br>
    <br>
    <br>
    <H2>Order Summary</H2>
    <table class="tg" id="orderSummaryTable">
        <thead>
        <tr>
            <th class="tg-cscf">מחלקה</th>
            <th class="tg-cscf">קוד מוצר</th>
            <th class="tg-cscf">שם מוצר</th>
            <th class="tg-cscf">מחיר ליחידה</th>
            <th class="tg-cscf">כמות להזמנה</th>
            <th class="tg-cscf">סה"כ מחיר</th>
            <th class="tg-cscf">מחיקה</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br>
    <br>
    <button type="button" id="deleteSelectedOrders" onclick="deleteSelectedOrders()">מחק הזמנות</button>
    <button type="button" id="sendOrderBtn" onclick="sendOrder()">בצע הזמנה</button>
</div>
<script type="text/javascript" th:inline="javascript">window.products = [[${orders}]].orders;</script>
<script type="text/javascript" th:inline="javascript" th:src="@{js/orders.js}"></script>
</body>
</html>