<!DOCTYPE html>
<!--suppress XmlHighlighting -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<script type="text/javascript" th:inline="javascript">
    window.productsByName = new Map();
    window.productsByBarcode = new Map();
    window.productsByCategory = new Map();

    function removeOptions(selectbox) {
        var i;
        for (i = selectbox.options.length - 1; i >= 0; i--) {
            selectbox.remove(i);
        }
    }

    function initPage() {
        window.barcode_input = document.getElementById("enterBarcode");
        window.orderTable = document.getElementById("orderTable");
        window.orderSummeryTable = document.getElementById("orderSummeryTable");
        window.categories = new Set();
        window.products = [[${products}]];
        window.selectDepartmentDropdown = document.getElementById("selectDepartment");
        window.chooseProductName = document.getElementById("chooseProductName");
        window.enterAmount = document.getElementById("enterAmount");
        let i;
        for (i = 0; i < window.products.length; i++) {
            window.categories = window.categories.add(window.products[i].category)
        }
        for (let val of window.categories) {
            window.productsByCategory.set(val, new Set());
            let option = document.createElement('option');
            option.text = val;
            window.selectDepartmentDropdown.appendChild(option);
        }
        for (let product of window.products) {
            window.productsByCategory.get(product.category).add(product);
            window.productsByName.set(product.name, product);
            window.productsByBarcode.set(product.barcode, product);
        }
    }

    function updateOrderTableInfoFromProduct(product) {
        let row = window.orderTable.rows[window.orderTable.rows.length - 1];
        this.selectDepartmentDropdown.value = product.category;
        row.cells[3].innerText = product.price;
        window.barcode_input.value = product.barcode;
        row.cells[5].innerText = "0";
    }

    function getProductFromName() {
        if (window.productsByName.has(window.chooseProductName.value)) {
            let product = window.productsByName.get(window.chooseProductName.value);
            updateOrderTableInfoFromProduct(product);
        }
    }

    function getProductFromBarcode() {
        if (window.productsByBarcode.has(window.barcode_input.value)) {
            let product = window.productsByName.get(window.barcode_input.value);
            updateOrderTableInfoFromProduct(product);
        } else {
            window.barcode_input.value = "";
        }
    }

    function amountChosen() {
        let row = window.orderTable.rows[window.orderTable.rows.length - 1];
        row.cells[5].innerText = (parseFloat(row.cells[3].innerText) * document.getElementById("enterAmount").value);
    }

    function departmentSelected() {
        let option = document.createElement('option');
        option.text = "בחר מוצר...";
        window.chooseProductName.appendChild(option);
        for (let [category, productSet] of window.productsByCategory) {
            if (window.selectDepartmentDropdown.value === category) {
                for (let product of productSet) {
                    let option = document.createElement('option');
                    option.text = product.name;
                    window.chooseProductName.appendChild(option);
                }
            }
        }
    }

    function resetOrderTable() {
        let row = window.orderTable.rows[window.orderTable.rows.length - 1];
        window.selectDepartmentDropdown.value = window.selectDepartmentDropdown.options[0].text;
        window.barcode_input.value = "";
        removeOptions(window.chooseProductName);
        window.enterAmount.value = "";
        row.cells[3].innerText = "";
        row.cells[5].innerText = "";
    }

    function addProduct() {
        if (window.selectDepartmentDropdown.value !== window.selectDepartmentDropdown.options[0].text
            && window.barcode_input.value !== "" && window.enterAmount.value !== "" && window.enterAmount.value > 0) {
            let row = window.orderTable.rows[window.orderTable.rows.length - 1].cloneNode(true);
            let newRow = window.orderSummeryTable.insertRow();
            newRow.insertCell(0);
            newRow.insertCell(1);
            newRow.insertCell(2);
            newRow.insertCell(3);
            newRow.insertCell(4);
            newRow.insertCell(5);
            newRow.cells[0].innerText = window.selectDepartmentDropdown.value;
            newRow.cells[1].innerText = window.barcode_input.value;
            newRow.cells[2].innerText = window.chooseProductName.value;
            newRow.cells[3].innerText = row.cells[3].innerText;
            newRow.cells[4].innerText = window.enterAmount.value;
            newRow.cells[5].innerText = row.cells[5].innerText;
            resetOrderTable();
        }
    }
</script>

<body onload="initPage()">

<H1><span th:text="'Welcome '+${username}+' to the ordering page'"></span></H1>
<H2>please place your order here</H2>


<form action="#" th:action="@{/order}" th:object="${orders}" method="post">
    <table id="orders_table">
        <thead>
        <tr>
            <th>מוצר</th>
            <th>ברקוד</th>
            <th>מחיר ליחידה</th>
            <th>כמות</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order, itemStat : *{orders}">
            <input type="hidden" th:field="*{orders[__${itemStat.index}__].name}">
            <input type="hidden" th:field="*{orders[__${itemStat.index}__].barcode}">
            <input type="hidden" th:field="*{orders[__${itemStat.index}__].price}">
            <td th:text="*{orders[__${itemStat.index}__].name}"></td>
            <td th:text="*{orders[__${itemStat.index}__].barcode}"></td>
            <td th:text="*{orders[__${itemStat.index}__].price}"></td>
            <td><input th:field="*{orders[__${itemStat.index}__].quantity}"></td>
        </tr>
        </tbody>
    </table>
    <input type="submit"/>
</form>

<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg .tg-cscf {
        font-weight: bold;
        background-color: #c0c0c0;
        border-color: #000000;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-6e8n {
        font-weight: bold;
        background-color: #c0c0c0;
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-73oq {
        border-color: #000000;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }
</style>
<div class='parent'>
    <div class='child inline-block-child'>
        <table class="tg" id="orderTable">
            <tr>
                <th class="tg-cscf">מחלקה</th>
                <th class="tg-6e8n">קוד מוצר</th>
                <th class="tg-6e8n">שם מוצר</th>
                <th class="tg-6e8n">מחיר ליחידה/100 גרם</th>
                <th class="tg-6e8n">כמות להזמנה</th>
                <th class="tg-6e8n">סה"כ מחיר</th>
            </tr>
            <tr>
                <td class="tg-73oq">
                    <select id="selectDepartment" onchange="departmentSelected()">
                        <option>בחר מחלקה...</option>
                    </select>
                </td>
                <td class="tg-0pky"><input type="text" id="enterBarcode" onchange="getProductFromBarcode()"></td>
                <td class="tg-0pky"><select id="chooseProductName" onchange="getProductFromName()"></select></td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"><input type="number" id="enterAmount" onchange="amountChosen()"></td>
                <td class="tg-0pky"></td>
            </tr>
        </table>
    </div>
    <div class='child inline-block-child'>
        <button id="addProductBtn" onclick="addProduct()" style="float:bottom">+</button>
    </div>
</div>


<br>
<br>
<br>
<table class="tg" id="orderSummeryTable">
    <tr>
        <th class="tg-cscf">מחלקה</th>
        <th class="tg-6e8n">קוד מוצר</th>
        <th class="tg-6e8n">שם מוצר</th>
        <th class="tg-6e8n">מחיר ליחידה</th>
        <th class="tg-6e8n">כמות להזמנה</th>
        <th class="tg-6e8n">סה"כ מחיר</th>
    </tr>
</table>
<style type="text/css">
    .inline-block-child {
        display: inline-block;
    }
</style>
</body>
</html>