<!DOCTYPE html>
<!--suppress XmlHighlighting -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:inline="javascript">window.products = [[${orders}]].orders;</script>
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" href="css/orders.css">
</head>
<body style="font-family:'David',sans-serif" onload="initPage()">
<div style="text-align: center;">
    <H1><span th:text="${username}+' ברוך הבא '"></span></H1>
    <H2>אנא בצע/י הזמנה</H2>
    <H3>הוראות שימוש - לאחר בחירת מחלקה, כלל המוצרים מהמחלקה יופיעו בטבלה מתחת. יש להזין את הכמות של כל מוצר שרוצים
        להזמין, לאחר מכן ללחוץ עך כפתור "הוסף להזמנה"</H3>
    <br>
    <label for="selectDepartment"></label>
    <select id="selectDepartment" onchange="departmentSelected()">
        <option>בחר מחלקה...</option>
    </select>
    <br>
    <br>

    <table class="ordersTable" id="orderTable">
        <thead>
        <tr>
            <th class="tableHeader">מס"ד</th>
            <th class="tableHeader">קוד מוצר</th>
            <th class="tableHeader">שם מוצר</th>
            <th class="tableHeader">מחיר ליחידה/100 גרם</th>
            <th class="tableHeader">כמות להזמנה</th>
            <th class="tableHeader">סה"כ מחיר</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br>
    <label for="overallOrderCost"></label><input type="text" id="overallOrderCost" readonly> :סה"כ עלות
    <br>
    <br>
    <button id="addProductBtn" onclick="addProduct()">הוסף להזמנה</button>
    <br>
    <br>
    <br>
    <H2>Order Summary</H2>
    <table class="ordersTable" id="orderSummaryTable">
        <thead>
        <tr>
            <th class="tableHeader">מחלקה</th>
            <th class="tableHeader">קוד מוצר</th>
            <th class="tableHeader">שם מוצר</th>
            <th class="tableHeader">מחיר ליחידה/100 גרם</th>
            <th class="tableHeader">כמות להזמנה</th>
            <th class="tableHeader">סה"כ מחיר</th>
            <th class="tableHeader">מחיקה</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br>
    <label for="overallOrderSummeryCost"></label><input type="text" id="overallOrderSummeryCost" readonly> :סה"כ עלות
    <br>
    <br>
    <button type="button" id="deleteSelectedOrders" onclick="deleteSelectedOrders()">מחק הזמנות</button>
    <button type="button" id="sendOrderBtn" onclick="sendOrder()">בצע הזמנה</button>
</div>

<script type="text/javascript" th:inline="javascript" th:src="@{js/orders.js}"></script>
</body>
</html>