HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/libraries
/sonarlint
/misc.xml
/modules.xml
/vcs.xml
/workspace.xml
/uiDesigner.xml
/inspectionProfiles/Project_Default.xml
/compiler.xml
/encodings.xml
# Default ignored files
/shelf/